img#biologo {
    max-width: 73%; /*set the width or max-width*/
    max-height: 73%;
    position: absolute;
    -moz-transform-origin: 0 0;
}

p.lead.sectionLead{
    color: #4a4545;
    font-family: "Times New Roman", Times, serif;
}

p.lead.sectionLeadAbout{
    color: #428bca;
    font-family: "Times New Roman", Times, serif;
}

.marginForPages{
 margin-top: 30px;   
}

.AboutCoreValue{
    color: #31708f;
}

.AboutCoreValueP{
    color: #428bca;
}

.background-image{
    position: relative;
    display: inline;
    width: 12%; /*set the width or max-width*/
    height: 12%;
}

#DonateButtonNav{
    background-color: #337ab7;
    color: #f8f8f8;
    margin-bottom: 5px;
    border-radius: 10px;
}

#introductStudents{
    background-image: url("../img/sponsorspage/WEBSITE1.jpg");
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    background-size: cover;
}



@media (min-width: 767px) and (max-width: 993px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    
    img#biologo {
    max-width: 52%; /*set the width or max-width*/
    max-height: 52%;
    position: absolute;
    -moz-transform-origin: 0 0;
    }
}

@media (max-width: 766px) {
    img#biologo {
    max-width: 40%; /*set the width or max-width*/
    max-height: 70%;
    position: absolute;
    -moz-transform-origin: 0 0;
    }
}