img#biologo {
    zoom: 30%;
    
    -ms-zoom: 0.3;
    -webkit-zoom: 0.3;
    -moz-transform:  scale(0.3,0.3);
}

p.lead.sectionLead{
    color: #4a4545;
    font-family: "Times New Roman", Times, serif;
}

p.lead.sectionLeadAbout{
    color: #428bca;
    font-family: "Times New Roman", Times, serif;
}

.marginForPages{
 margin-top: 30px;   
}

.AboutCoreValue{
    color: #31708f;
}

.AboutCoreValueP{
    color: #428bca;
}